<div class="row">
  <div id="add-stock-modal" class="modal">
    <form class="col s12" ng-submit="portfolio.addStock()">
      <div class="modal-content">
        <h4 class="center-align condensed light col s12 l10 offset-l1">Add a stock to your portfolio</h4>
        <div class="divider container col s12"></div><br><br><br>

        <div ng-show="portfolio.error" class="col s12 center-align red-text text-red-darken-1">
          {{ portfolio.error }}
        </div>

        <div class="row">
          <div class="input-field col s11 m5 l5">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" ng-model="portfolio.stock.symbol" required>
            <label for="icon_prefix">Stock Ticker</label>
          </div>

          <div class="input-field col s11 m5 l5 offset-m1 offset-l1">
            <i class="material-icons prefix">equalizer</i>
            <input id="icon_prefix" type="number" class="validate" min="1" step="1" ng-model="portfolio.stock.shares" required>
            <label for="icon_prefix">Number of shares</label>
          </div>
        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light col s12 m3 l3 offset-m2 offset-l2 add-stock-button" type="submit" name="action">Submit
        </button>
        <button class="btn waves-effect waves-light col s12 m3 l3 offset-m2 offset-l2 white cancel-add-stock-button modal-close" ng-click="portfolio.error = ''" type="submit" name="action">Cancel
        </button>
      </div>
    </div>
  </form>
</div>
