<!-- header -->
<h3 class="center-align col l4 m6 s12 offset-l4 offset-m3 thin" ng-hide="portfolio.displayForm">Stock Portfolio</h3>
<div class="divider container"></div><br>

<!-- add stock button -->
<div class="row">
  <button class="btn waves-effect waves-light col s8 col l6 offset-s2 offset-l3" type="submit" name="action" ng-click="portfolio.displayForm = true" ng-hide="portfolio.displayForm">Add Stock
  </button>
</div>

<!-- add stock form -->
<div class="row add-stock-form" ng-show="portfolio.displayForm"><br>
  <add-stock></add-stock>
</div>

<!-- display owned stocks -->
<div class="row offset-l1">
  <div ng-repeat="stock in portfolio.stocks" ng-init="showModal=false">
    <owned-stock stock="stock"></owned-stock>
  </div>
</div>
