<!-- <button data-target="modal1" ng-click="showModal=true" class="btn-floating btn-tiny waves-effect waves-light red darken-3 modal-trigger"><i class="material-icons">remove</i></button>
<div ng-show="showModal"> -->
<!-- <button data-target="modal1" ng-click="portfolio.showModal()" class="btn-floating btn-tiny waves-effect waves-light red darken-3 modal-trigger"><i class="material-icons">remove</i></button> -->
<!-- <div ng-show="portfolio.modal" class="blackout remove-stock-modal">
  <h5 class="modal-content">Are you sure you want to delete {{portfolio.stock.Name}} from your portfolio?</h5>
  <hr>
  <a ng-click="portfolio.deleteStock(portfolio.stock)">Yes</a>
  <a ng-click="portfolio.modal = false">No</a>
</div> -->
