<div class="col l4 m6 s12" ng-init="portfolio.showContent = true">
  <div class="card" ng-show="portfolio.showContent">
    <div class="card-content">
      <h5 class="center-align">{{portfolio.stock.Name}}</h5>
      <div class="divider container"></div><br>
      <p>Asking Price: {{portfolio.stock.Ask | currency}}</p>
      <p>Percent Change: {{portfolio.stock.PercentChange}}</p>
      <p>Days Range: ${{portfolio.stock.DaysRange}}</p>
      <p>Previous Close: {{portfolio.stock.PreviousClose | currency}}</p>
    </div>
    <div class="card-action row">
      <p class="col s10">Todays net: $$$</p>
      <button ng-click="portfolio.showContent = false" class="btn-floating btn-tiny waves-effect waves-light red darken-3"><i class="material-icons">remove</i></button>
    </div>
  </div>
  <div class="card" ng-hide="portfolio.showContent">
    <div class="remove-stock-prompt card-content"><br>
      <h5 class="center-align">Are you sure you want to remove {{stock.Name}} from your portfolio?</h5>
    </div>
    <div class="card-action row">
      <div class="col s6">
        <a class="waves-effect waves-light btn col s10" ng-click="portfolio.deleteStock(portfolio.stock)">Yes</a>
      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn col s10" ng-click="portfolio.showContent = true">No</a>
      </div>
    </div>
  </div>
</div>
