<div class="col l4 m6 s12" ng-init="portfolio.showContent = true">
  <div class="card" ng-show="portfolio.showContent">
    <div class="card-content">
      <h5 class="center-align stock-name">{{portfolio.stock.Name}}</h5>
      <div class="divider container"></div><br>

      <!-- display stock data -->
      <stock-table-data stock="portfolio.stock"></stock-table-data>

      <!-- display stock table  -->
      <stock-table stock="portfolio.stock"></stock-table>

      <!-- daily return -->
      <div class="row daily-return">
        <h5 class="col s6 offset-s1">Daily Return:</h5>
        <h5 class="col s5 left-align" ng-class="{'green-text darken-3': portfolio.stock.Change > 0, 'red-text darken-4': portfolio.stock.Change < 0}">{{portfolio.stock.dailyReturn | currency}}</h5>
      </div>
    </div>

    <!-- footer buttons -->
    <div class="row card-border">
      <div class="col s6 center-align">
        <button class="waves-effect waves-light btn blue darken-1 stock-card-button" ng-click="portfolio.editStockForm = true; portfolio.showContent = false"><i class="material-icons">edit</i></button>
      </div>
      <div class="col s6 center-align">
        <button class="waves-effect waves-light btn blue darken-1 stock-card-button" ng-click="portfolio.removeStock = true; portfolio.showContent = false"><i class="material-icons">delete</i></button>
      </div>
    </div>

  </div>

  <!-- edit stock form -->
  <div class="card" ng-show="portfolio.editStockForm">
    <edit-stock stock="portfolio.stock"></edit-stock>
  </div>

  <!-- remove stock form -->
  <div class="card" ng-show="portfolio.removeStock">
    <remove-stock stock="portfolio.stock"></remove-stock>
  </div>
</div>
