<div class="row stock-data-row">
  <div class="row col l5 s5">
    <p class="col l6 s6">Price:</p>
    <p class="col l6 s6 right-align">{{portfolio.stock.Ask | currency}}</p>
  </div>

  <div class="row col l7 s7">
    <p class="col l8 s9">Previous Close:</p>
    <p class="col l4 s3 right-align">{{portfolio.stock.PreviousClose | currency}}</p>
  </div>
</div>

<div class="row stock-data-row">
  <div class="row col l5 s5">
    <p class="col l6 s6">Shares:</p>
    <p class="col l6 s6 right-align">{{portfolio.stock.shares}}</p>
  </div>

  <div class="row col l7 s7">
    <p class="col l8 s9">Percent Change:</p>
    <p class="col l4 s3 right-align" ng-class="{'green-text darken-3': portfolio.stock.Change > 0, 'red-text darken-4': portfolio.stock.Change < 0}">{{portfolio.stock.PercentChange}}</p>
  </div>
</div>
