<div class="col l4 m6 s12" ng-init="portfolio.showContent = true">
  <div class="card" ng-show="portfolio.showContent">
    <div class="card-content">
      <h5 class="center-align stock-name">{{portfolio.stock.Name}}</h5>
      <div class="divider container"></div><br>

      <!-- display stock data -->
      <stock-table-data stock="portfolio.stock"></stock-table-data>

      <!-- display stock table  -->
      <stock-table stock="portfolio.stock"></stock-table>

      <div class="row daily-return">
        <h5 class="col s6 offset-s1 center-align">Daily Return:</h5>
        <h5 class="col s4 left-align" >{{portfolio.stock.dailyReturn | currency}}</h5>
      </div>
    </div>

    <div class=" row">
      <div class="col s6 center-align">
        <button class="waves-effect waves-light btn" ng-click="portfolio.editStock = true; portfolio.showContent = false"><i class="material-icons">edit</i></button>
      </div>
      <div class="col s6 center-align">
        <button class="waves-effect waves-light btn" ng-click="portfolio.removeStock = true; portfolio.showContent = false"><i class="material-icons">delete</i></button>
      </div>
    </div>
  </div>

  <div class="card" ng-show="portfolio.editStock">
    <edit-stock stock="portfolio.stock"></edit-stock>
  </div>

  <div class="card" ng-show="portfolio.removeStock">
    <remove-stock stock="portfolio.stock"></remove-stock>
  </div>
</div>
