<div class="row stock-data-row">
  <div class="row col l5 s5">
    <span class="col l6 s6">Price:</span>
    <span class="col l6 s6 right-align">{{portfolio.stock.Ask | currency}}</span>
  </div>

  <div class="row col l7 s7">
    <span class="col l8 s9">Previous Close:</span>
    <span class="col l4 s3 left-align">{{portfolio.stock.PreviousClose | currency}}</span>
  </div>
</div>

<div class="row stock-data-row">
  <div class="row col l5 s5">
    <span class="col l6 s6">Shares:</span>
    <span class="col l6 s6 right-align">{{portfolio.stock.shares}}</span>
  </div>

  <div class="row col l7 s7">
    <span class="col l8 s9">Percent Change:</span>
    <span class="col l4 s3 right-align" ng-class="{'green-text darken-4': portfolio.stock.Change > 0, 'red-text darken-4': portfolio.stock.Change < 0}">{{portfolio.stock.PercentChange}}</span>
  </div>
</div>
