<div class="row table-header">
  <div class="col l2 center-align">
    <h6><strong>Symbol</strong></h6>
  </div>
  <div class="col l1 right-align">
    <h6><strong>Price</strong></h6>
  </div>
  <div class="col l1 right-align">
    <h6><strong>Change</strong></h6>
  </div>
  <div class="col l1 center-align">
    <h6><strong>Previous Close</strong></h6>
  </div>
  <div class="col l1 center-align">
    <h6><strong>Shares</strong></h6>
  </div>
  <div class="col l2 right-align">
    <h6><strong>Current Balance</strong></h6>
  </div>
  <div class="col l2 right-align">
    <h6><strong>Previous Balance</strong></h6>
  </div>
  <div class="col l2 center-align">
    <h6><strong>Day's Gain</strong></h6>
  </div>
</div>
