<div class="row">
  <div class="col l2">
    <h5 class="center-align">Total gain</h5>
    <div class="divider"></div><br>
    <h4 class="center-align">{{ownedStocks.totalReturn | currency}}</h4>
    <div class="divider"></div><br>

    <div class="row">
      <div class="col s12 center-align">
        <a class="waves-effect waves-light btn blue darken-1 modal-trigger" href="#add-stock-modal">Add Stock</a>
      </div>
    </div>
  </div>

  <!-- <div class="stock-card"> -->
  <div class="col l10 stock-card">
    <!-- stock table header -->
    <table-header></table-header>
    <!-- users stock data -->
    <stocks-table stocks="ownedStocks.stocks"></stocks-table>
  </div>
</div>

<!-- add stock to portfolio -->
<add-stock></add-stock>
